@tailwind base;
@tailwind components;
@tailwind utilities;

.kanit-black {
    font-family: "Kanit", sans-serif;
    font-weight: 900;
    font-style: normal;
  }

  .work-sans-aesthetic {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

  /* Ejemplo de clases de estado dinámicas en Tailwind CSS */
.border-purple-500 {
  border-color: #8a3dfc; /* Color morado personalizado */
}

.border-purple-500:focus {
  border-color: #8a3dfc; /* Color morado cuando el input está enfocado */
}
